// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.h-screen {
    height: 100vh;
}


td a {
    display: block;
    border: none;
    padding: 10px;
}
